/* Principal *****************************************************************/
:root {
    --main-color: #2A9D8F;
    --fill-color: #FFFFFF;
    --border-color: none;
}

html, body{
    height: 100%;
    margin-bottom: 0%;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #264553;
    font-family: 'Nunito', sans-serif;
}

h1, h3{
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0%;
}

h1{
    font-size: 1em;
}

h3{
    text-align: center;
    font-size: 0.7em;
}
p{
    text-align: center;
}

/* Header/Footer ****************************************************************/

header{
    background-color: #264653;
    width: 100%;
    height: 7em;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;    
}

footer{
    background-color: #264653;
    padding: 3%;
    position:absolute;
    bottom:0;
    width:100%;
}

#titulo{
    padding-top: 50px;
    margin-left: 20px;
}

.rodape{
    text-align: center;
}

/* Imagens ****************************************************************/
#logo{
    width: 17em;/*250px;*/
    float: left;
}
