.success-msg {
    margin-top: 20px;
    background-color: #2A9D8F;
    border: 1px solid #264653;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-family: Nunito, Arial, sans-serif;
    font-size: 0.9rem;
    text-align: center;
}

.error-msg {
    margin-top: 20px;
    background-color: #f4a261;
    border: 1px solid #e76f51;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    font-family: Nunito, Arial, sans-serif;
    font-size: 0.9rem;
    text-align: center;
}
