header{
    background-color:#1D3556;
    width: 100%;
    height: 15%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0%; 
    padding-bottom: 3%;   
}

footer{
    height: 5%;
    background-color: #1D3556;
    padding: 3%;
    display: block;
}

header h1 {
    font-size: 2em;
    padding-top: 45px;
    margin-left: 20px;
}

footer {
    text-align: center;
}

#dados_user a, #dados_user{
    color:white;
    font-size: .8em;
    text-align: right;
    text-decoration: none;
    
}

#aux{
    position: absolute;
    left: 90vw;
    text-align: right;
    top: 5vh;
}

#aux h2 {
    color: #fff;
}

#sair a{
    color: #ffffff;
    top: 9vh;
}

#sair a:hover{
    color:#e7d2d4;
}
