header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 20vh;
    padding: 2vh;
    background-color: #264653;
}

footer {
    color: #fff;
    height: 5vh;
    background-color: #264653;
    padding: 70px 0;
    width: 100vw;
    left: 0;
    bottom: 0;
}

#logo-titulo {
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    width: 75%;
    height: 15vh;
    margin-left: 0;
}

#logo-titulo > #logo {
    margin-top: 10px;
    height: 7em; /*94.5px;*/
    width: 17em; /*250px;*/
}

h1, h3, p, input {
    font-family: 'Nunito', sans-serif;
}

p {
    color: red;
    margin: 0%;
}

h3 {
    text-align: center;
    font-size: 1em;
    color: white;
    margin: 0%;
}
/* Dados do Usuário *********************************************************************/
#dados_user a, #dados_user{
    color:white;
    font-size: .8em;
    text-align: right;
    text-decoration: none;
    text-decoration: b;
}

#dados_user{
    margin-right: 20em;
}

#aux{
    position: absolute;
    left: 90vw;
    text-align: right;
    top: 5vh;
}

#sair a{
    color: #ffffff;
    top: 9vh;
}

#sair a:hover{
    color:#e7d2d4;
}

#nome_user, #sair{
    font-weight: bold;
    font-size: 1.7em;
    margin: 2vh 0vw;
}