:root {
    --main-color: #E63946;
    --fill-color: #FFFFFF;
    --border-color: none;
}

html, body{
    height: 100%;
    margin-bottom: 0%;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #264553;
    font-family: 'Nunito', sans-serif;
}

#main {
    box-sizing: border-box;
    display: flex;
    /* width: 100%; */
    min-height: calc(100vh - 300px);
    flex-direction: column;
    padding: 3% 23%;
    padding-top: 1%;
}

#middle {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-items: stretch;
    align-items: flex-start;
}

#opcoes {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: stretch;
}

#opcoes .relator {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 10px;
}

.relator.selected {
    background-color: var(--main-color);
    color: white;
}

/* Filtro ****************************************************************/

#filtro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #a8dadcb0;
    /* min-height: 50%; */
}

.filtro {
    margin-bottom: 20px;
}

#filtro.hidden {
    display: none;
}

#actions {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    width: 100%;
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
}

.range input {
    width: 100px;
}

#aplicar {
    background-color: var(--main-color);
    color: white;
}

input {
    background-color: #457b9d49;
    border: none;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

h1, h3{
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0%;
}

/* PrintDiv ****************************************************************/

.print_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

#certificado {
    padding: 20px;
    padding-top: 40px;
}

.texto-certificado{
    color: black;
}

.texto-colorido {
    color: #e63946;
    font-weight: bold;
}

.ver {
    text-decoration: none;
}

a {
    color: inherit;
}

table#tabela_disciplinas_cursadas{
    width: 45em;
    margin: auto;
}

p.texto-certificado{
    margin: 1em;
    color: #1D3556;
}

.divTabela{
    width: 50em;
}

#imprimir{
    width: 45em;
}