#caixa {
    text-align: center;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 12pt;
    margin-top: -5%;
}
#certificado {
    padding: 20px;
    padding-top: 40px;
}

.texto-certificado{
    color: black;
}

.texto-colorido {
    color: #e63946;
    font-weight: bold;
}

.ver {
    text-decoration: none;
}

a {
    color: inherit;
}