#cabecalho h1{
    color: #e63946;
    text-align: center;
}

#cabecalho p{
    margin: 2%;
    margin-top: 6%;
    font-size: 18px;
    color: #1D3556;
}

#cabecalho p a{
    text-decoration: none;
}

#cabecalho p a:hover{
    color: #E63946;
}

td div:hover{
    text-decoration: none;
    background-color: #e63946;
    color: #FFFFFF;
    border-radius: 3%;
    border: #e63946 solid 0px;
}

td div a:hover{
    color: #FFFFFF;
}

td div{
    padding: 1%;
}

:root {
    --main-color: #E63946;
    --fill-color: #FFFFFF;
    --border-color: none;
}

html, body{
    height: 100%;
    margin-bottom: 0%;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #264553;
    font-family: 'Nunito', sans-serif;
}

#main {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 300px);
    flex-direction: column;
    padding: 5% 23%;

}

#middle {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-items: stretch;
    align-items: flex-start;
}

#opcoes {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: stretch;
}

#opcoes .relator {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 10px;
}

.relator.selected {
    background-color: var(--main-color);
    color: white;
}

#resultado {
    flex-grow: 9;
    background-color: #a8dadcb0;
    margin-bottom: 20px;
    /* min-height: 50%; */
}

.solid {
    box-sizing: border-box;
    margin: 15px;
    padding: 20px;
    background-color: var(--fill-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: #0003 4px 4px 10px; 
}

/* Filtro ****************************************************************/

#filtro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #a8dadcb0;
    /* min-height: 50%; */
}

.filtro {
    margin-bottom: 20px;
}

#filtro.hidden {
    display: none;
}

#actions {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    width: 100%;
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
}

.range input {
    width: 100px;
}

#aplicar {
    background-color: var(--main-color);
    color: white;
}

input {
    background-color: #457b9d49;
    border: none;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    padding: 0%;
}

table thead{
    border-bottom: #1D3556 solid 1px;
}

td, th {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    
}

h1, h3{
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0%;
}

tr:nth-child(even){
    background-color: #84acad;
}

/* PrintDiv ****************************************************************/

.print_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

nav{
    margin-bottom: 3%;
    margin: 3%;
    height: 1%;
}