#cabecalho h1{
    color: #e63946;
    text-align: center;
}

#cabecalho p{
    margin: 2em;
    margin-top: 5em;
    font-size: 18px;
    color: #1D3556;
    height: 1em;
}

#cabecalho p a{
    text-decoration: none;
    color: #1D3556;
}

#cabecalho p a:hover{
    color: #E63946;
}

#dados_user a{
    font-size: .8em;
    text-align: right;
    text-decoration: none;
}

#aux{
    color:white;
    position: absolute;
    right: 2em;
    top: 2em;
    text-align: right;
    width: auto;
    font-size: .4em;
}

#sair a{
    color: #ffffff;
    top: 2em;
}

#sair a:hover{
    color:#e7d2d4;
}
