#cabecalho h1{
    color: #e63946;
    text-align: center;
}

#cabecalho p{
    margin: 2em;
    margin-top: 5em;
    font-size: 18px;
    color: #1D3556;
    height: 1em;
}

#cabecalho p a{
    text-decoration: none;
    color: #1D3556;
}

#cabecalho p a:hover{
    color: #E63946;
}

#dados_user{
    width: auto;
    position: absolute;
    right: 2em;
    top: 2em;
    font-size: 16px;
    color: white;
}

#dados_user a{
    text-decoration: none;
    color: white;
}