#cabecalho h1{
    color: #e63946;
    text-align: center;
}

#cabecalho p{
    margin: 2em;
    margin-top: 5em;
    font-size: 18px;
    color: #1D3556;
    height: 1em;
}

#cabecalho p a{
    text-decoration: none;
    color: #1D3556;
}

#cabecalho p a:hover{
    color: #E63946;
}

#dados_user, a{
    color:white;
    font-size: .8em;
    text-align: right;
    text-decoration: none;
    
}

#aux{
    position: absolute;
    left: 90vw;
    text-align: right;
    top: 5vh;
}

#sair a{
    color: #ffffff;
    top: 9vh;
}

#sair a:hover{
    color:#e7d2d4;
}
