header, footer{
    height: 8%;
    width: 100vw;
    background-color: #1d3556;
    padding: 3%;
}
h1, h3, p, input{
    font-family: 'Nunito', sans-serif;
}
.titulo{
    text-align: start;
    color: white;
    margin: 0%;
    font-size: 1em;
}p{
     color: white;
     margin: 0%;
 }

h3{
    text-align: center;
    font-size: 0.7em;
    color: white;
    margin: 0%;
}