header{
    margin: 0;
    height: 8%;
    width: 100%;
    background-color: #1d3556;
    padding: 3%;
}
footer{
    height: 5%;
    background-color: #1D3556;
    padding: 3%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}
h1, h3, p, input{
    font-family: 'Nunito', sans-serif;
}
.titulo{
    text-align: start;
    color: white;
    margin: 0%;
    font-size: 1em;
}

h3{
    text-align: center;
    font-size: 0.7em;
    color: white;
    margin: 0%;
}