*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}
h1{
    text-align: center;
}
html body{
    width: 100vw;
    height: 100vh;
}
input{
    display: block;
    height: 8vh;
    width: 30vw;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16pt;
}
main{
    box-sizing: border-box;
    /*display: flex;*/
    width: 100vw;
    height: calc(100vh - 13vh);
    /*flex-direction: column;*/
    padding: 5% 23%;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.botoes{
    border-radius: 30px;
    border: 0;
    background-color: #669966;
    color: white;
    transition: .3s ease;
}
.botoes:hover{
    background-color: #457a9d;
    cursor:pointer
}
.texto{
    width: 30vw;
    border: 0;
    outline: none;
    border-bottom: 1.5px solid #457a9d ;
    display: block;
    margin: 0% 0% 5% 0%;
}
a{
    text-decoration: none;
    text-align: center;
    display: block;
}
.msg-erro{
    height: 5vh;
    width: 30vw;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgb(165,42,42);
}

.msg-erro > p{
    color: rgb(165,42,42);
    font-weight: bolder;
    margin: 0%;
}

.msg-sucesso{
    height: 5vh;
    width: 30vw;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color: #a8fa724d;
    border: 1px solid #66ff00;
}

.msg-sucesso > p{
    color: #66ff00;
    font-weight: bolder;
    margin: 0%;
}