:root {
    --main-color: #347a75;
    --fill-color: #fff1;
    --border-color: #fff3;
}

body {
    margin: 0;
    background-color: #1e2222;
    color: white;
    font-family: sans-serif;
}

#main {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 92%;
    flex-direction: column;
    padding: 1% 23%;
}

#middle {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-items: stretch;
    align-items: flex-start;
}

#opcoes {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: stretch;
}

#opcoes .relator {
    display: flex;
    justify-content: center;
    /* border-radius: 40px; */
    padding: 10px;
    flex-grow: 1;
    cursor: pointer;
}

.relator.selected {
    background-color: var(--main-color);
}

#resultado {
    flex-grow: 9;
    /* min-height: 50%; */
}

.solid {
    box-sizing: border-box;
    margin: 15px;
    padding: 20px;
    background-color: var(--fill-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    /* box-shadow: #0003 4px 4px 10px; */
}

/* Filtro ****************************************************************/

#filtro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* min-height: 50%; */
}

.filtro {
    margin-bottom: 20px;
}

#filtro.hidden {
    display: none;
}

#actions {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    width: 100%;
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    padding: 10px;
}

.range input {
    width: 100px;
}

#aplicar {
    background-color: var(--main-color);
}

input {
    background-color: var(--fill-color);
    color: white;
    border: none;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

/* PrintDiv ****************************************************************/

.print_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Header ****************************************************************/

#header {
    width: 100%;
    height: 8%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
}