/* Principal *****************************************************************/
:root {
    --main-color: #E63946;
    --fill-color: #FFFFFF;
    --border-color: none;
}

html, body{
    height: 100%;
    margin-bottom: 0%;
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #264553;
    font-family: 'Nunito', sans-serif;
}

h1, h3{
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0%;
}

h1{
    font-size: 1em;
}

h3{
    text-align: center;
    font-size: 0.7em;
}

.sub{
    color: #457B9D;
    margin: 5% 0% .5% 0%;
    font-size: 1em;
}

.principal{
    color: #e74946;
    font-size: 1.5em;
    margin: 0% 0% .5% 0%;
}

.descricao{
    font-family: 'Nunito', sans-serif;
    color: #1D3557;
    font-size: 1em;
    margin: 0% 0% 1% 0%;
}

.descricao, .principal, .sub{
    text-align: center;
}

#fieldset{
margin-left: auto;
margin-right: auto;
width:30vw;
height:20vh;
border: 3px #457B9D solid;
border-radius: .7em;
margin-bottom: 8%;
margin-top: 2%;
}
legend
{
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  color: #457B9D;
  text-align: center;
}
#caixa-seleção{
    
    width: 80%;
    border-radius: .7em;
    height: 25%;
    border: 1x solid #d1d1d1;
    cursor: pointer;
    padding: 1px 1px 1px 5px;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    background-color: #457B9D;
}
.botao{
    width: 18%;
    height: 25%;
    border-radius: .7em;
    background-color: #457B9D;
    color: white;
}
/* Formulario *****************************************************************/
form{
    display: block;
}

#botoes{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.botoes{
    width: 49.5%;
    height: 4vh;
    border-radius: .3em;
    border: 0;
    background-color: #e74946;
    color: white;
    transition: .3s ease;
    
}
.botoes:hover{
    background-color: #457a9d;
    cursor:pointer   
}

input{
    color:#457a9d;
    display: inline-block;
}

.texto{
    width: 30vw;
    border: 0;
    outline: none;
    border-bottom: 1.5px solid #457a9d ;
    display: block;
    margin: 0% 0% 5% 0%;
}

table {
    border-collapse: collapse;
    width: 30vw;
}

th, td {
    padding: 8px 5px 8px 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

thead th{
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.centro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#botoes button{
    width: 5vw;
}
tbody td button{
    width: 5vw;
    height: 4vh;
    border-radius: .3em;
    border: 0;
    background-color: #e74946;
    color: white;
    transition: .3s ease;
}

.input_text{
    width: 10vw;
    border: 0;
    outline: none;
    border-bottom: 1.5px solid #457a9d ;
    display: block;
    margin-right: 5px;
}
.input_num{
    width: 30px;
    border: 0;
    outline: none;
    border: 1.5px solid #457a9d ;
    display: block;
    margin-right: 5px;
}
.escondido{
    display: none;
}
/* Header/Footer ****************************************************************/

header{
    background-color:#1D3556;
    width: 100%;
    height: 7.5em;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0%;    
}

footer{
    background-color: #1D3556;
    padding: 3%;
    display: block;
}

#titulo{
    padding-top: 50px;
    margin-left: 20px;
}

.rodape{
    text-align: center;
}

/* Imagens ****************************************************************/
#logo{
    width: 17em;/*250px;*/
    float: left;
}
/* Menu ****************************************************************/
nav{
    background-color: #457B9D;
    margin: 0%;
}

.menu, .sub_menu{
    list-style: none;
}

.menu{
    float: left;
    margin: 0%;
    font-size: 20px;
    padding: 0%;
}

li a{
    display: block;
}

.menu a{
    text-decoration: none;
    color: white;
    padding:5px 10px;
    display:block;
    text-shadow:0px 0px 5px rgb(56, 56, 56);
}

.menu li{
    padding: 10px;
    width: 200px;
    text-align: center;
    border: thin inset #1d355631;
    position: relative;
    float: left;
    background-color: #457B9D;
    box-shadow: #0003 5px 5px 10px;
    cursor: pointer;
    -webkit-transition: all 1s ease
}

.sub_menu li{
    background-color: #457b9dde;
}

.menu li:hover{
    background-color: #2e5064;
}

.menu li ul{
    position: absolute;
    top:57px;
    right:0px;
    display: none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
    -webkit-transition: all 1s ease
}

.menu li ul li{
    display:block;
    width:200px;
}


