#cabecalho h1{
    color: #e63946;
    text-align: center;
    margin-bottom: 0%;
}

#cabecalho #endereco{
    margin: 2%;
    margin-top: 6%;
    font-size: 18px;
    color: #1D3556;
}

#cabecalho #endereco a{
    text-decoration: none;
    color: #1D3556;
}

#cabecalho #endereco a:hover{
    color: #E63946;
}

#selecionar_disciplina, #selecionar_etapa{
    display: block;
    padding: 5px;
    margin-bottom: 2%;
    margin-left: 25%;
}

#filtros {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding-left: 0%;
    padding-right: 0%;

}

#main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 3%;
}

#botao-enviar {
    width: 49.5%;
    text-align: center;
}

#selecionar_disciplina{
    border-bottom: #1d3557 solid 3px;
    color: #1d3557;
    border-bottom: #1d3557 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    width: 20.73vw;
    margin-left: 0%;
    margin-right: 0%;
}

#selecionar_etapa{
    border-bottom: #1d3557 solid 3px;
    color: #1d3557;
    border-bottom: #1d3557 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    width: 20vw;
    margin-left: 0%;
    margin-right: 0%;

}

#descricao{
    font-size: 16px;
    color: #1d3557;
    text-align: center;
    margin-top: 1%;
    margin-left: auto;
    margin-bottom: 1%;
    margin-right: auto;

}

#botao-enviar{
    width: 10vw;
    background-color: #e74946;
    color: white;
}

#botao-enviar{
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
}

#botao-enviar{
    width: 15vw;
    height: 4vh;
    border-radius: .3em;
    border: 0;
    background-color: #e74946;
    color: white;
    transition: .3s ease;
    margin-left: 3vw;
    
}
#botao-enviar:hover{
    background-color: #457a9d;
    cursor:pointer   
}

#content{
    width: 30vw;
    display: block;
    margin-left: 35vw;
    margin-left: 35vw;
}

#resultado-pesquisa{
    width: 100%;
    background-color: #e63946;
    color: white;
    text-align: center;
    padding: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    padding: 0%;
    margin: auto;
    color: #1d3557;
}

table thead{
    border-bottom: #1D3556 solid 1px;
}

td, th {
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    
}

tr:nth-child(even){
    background-color: #84acad;
}

#conteiner-tabela{
    background-color: #a8dadcb0;
    border-radius: 2px;
    padding: 1.5%;
    width: 50%;
    margin:auto;
    box-shadow: #0003 4px 4px 10px; 
}

h2{
    color: #e63946;
    text-align: center;
    font-weight: bold;
    margin: 1%;
}

#resultado-pesquisa{
    margin-top: 1%;
    margin-bottom: 7%;
}

.solid {
    box-sizing: border-box;
    margin: 15px;
    padding: 20px;
    background-color: var(--fill-color);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: #0003 4px 4px 10px; 
}

.btn {
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
}

.print_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}