.divTabela{
    background-color: #a8dadcb0;
    box-sizing: border-box;
    padding: 3vw;
    border-radius: 2px;
    box-shadow: #0003 4px 4px 10px; 
    margin: 1.5em auto;
    width: 48.5em;  
    text-align: center; 
    font-size: 14px;
}

table{
    margin:auto;
    width: 42em;
    border-collapse: collapse;
    text-align: center;
    padding: 0%;
    color: #1D3556;
}

table thead{
    border-bottom: #1D3556 solid 1px;
    text-align: center;
}

td {
    padding: .7em;   
}

tr:nth-child(even){
    background-color: #84acad;
}

.btnDeletar{
    width: 6em;
    background-color: #e74946;
    color: white;
    display: block;
    height: 1.3em;
    border-radius: .3em;
    border: 0;
    transition: .3s ease;
    margin-left: 3vw;
    padding: 0%;
}

.btnEditar{
    width: 6em;
    background-color: #457a9d;
    color: white;
    display: block;
    height: 1.3em;
    border-radius: .3em;
    border: 0;
    transition: .3s ease;
    margin-left: 3vw;
    padding: 0%;
}
.btnEditar:hover{
    background-color: #31566f;
    cursor:pointer 
}

.btnDeletar:hover{
    background-color: #a93533;
    cursor:pointer 
}