#pExibicao{
    color:#1d3557ff;
    font-family: 'Nunito', sans-serif;
    font-size:1.5em;
    padding: 10px;
    text-align: center;
}

.pSimples{
    color:#1D3556;
    font-family: 'Nunito', sans-serif;
    font-size:1.25em;
    margin: 4.5em;
    margin-left: 2em;
}

.pSimples a{
    text-decoration: none;
    color: #1D3556;
}

.pSimples a:hover{
    color: #457b9d;
}

.h2Simples{
    font-family: 'Nunito', sans-serif;
    font-size:2em;
    padding: 10px;
}

#divBuscaTurma{
    width: 150px;
    position:absolute;
    left:85%;
    top:150px;
    border-radius: 50%;
    transition: width .5s, border-radius .5s;
    font-size: 14px;
    font-weight: bold;
}

#btnBusca{
    border-radius: 0px 3px 3px 0px;
    height: 3.9vh;
    border: 0;
    background-color: #e74946;
    color: white;
    transition: .3s ease;
    width: 10vw;
    border: 0px solid #e74946;
    padding: 0%;
}
    
#btnBusca:hover{
    background-color: #457a9d;
    cursor:pointer;
    border: 0px solid #457a9d;  
    padding: 0%;
}

.curso{
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    border-bottom: #a8dadc solid 1px;
    width: 95%;
    padding: 10px;
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-right: white 1px solid;
}

#listaCursos ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.curso:hover {
    background-color: #a8dadc;
    border-radius: 1%;
    border: solid #a8dadc 1px;
}

.curso a{
    text-decoration: none;
    color: #1d3557;
    font-size: 24px;
}
/* --- Página de pesquisa --- */
#erroPesquisa{
    color: #e63946ff;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
}

.centro{
    text-align:center;
    font-size:2.1em;
    color: #1d3557ff;
}

#divBtnCriar{
    text-align:center;
    height: 4vh;
}

#listaCursos{
    padding: 2%;
}

#formBusca #inputBusca{
    color: #1d3557;
    border-bottom: #1d3557 solid 1.2px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
    width: 17em;
    margin-left: 0%;
    margin-right: 0%;
    height: 4vh;
}

#formBusca{
    font-size: 16px;
    width: 27.1em;
    margin: auto;
}

#buscaTurmaModal h1{
    text-align: center;
}

#numResultadosBusca{
    font-size: 20px;
    color: #1D3556;
}

#nenhumResultadoPesquisa{
    color: white;
    background-color: #e74946;
    padding: 1%;

}

.modal-header{
    color: white;
    background-color: #1D3556;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-height: 6em;
    padding: .5em;
    text-align: center;
}

#turmas .divTabelas td, #turmas .divTabelas th{
    padding: .5em;
}

/*MODAL CRIAR*/
#alterarTurmaModal .modal-dialog, #deletarTurmaModal .modal-dialog, #criarTurmaModal .modal-dialog{
    max-width: 40em;
}

#alterarTurmaModal .modal-body p#msgAlterar{
    color: #1D3556;
    font-size: 16px;
    text-align: center;
}

.result{
    color: #1D3556;
    font-size: 16px;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}

.modal-body input[type="text"]{
    border: none;
    border-bottom: 1.5px solid #1D3556;
    margin-top: .7em;
    margin-bottom: 0.3em;
    color: #1D3556;
    width: 15em;
}

#msgDeletar{
    color: #1D3556;
    font-size: 16px;
}

.modal-footer .botoes{
    width: 15em;
}

.modal{
    width: auto;
}