header, footer {
    box-sizing: border-box;
    height: 15%;
    width: 100%;
    background-color: #1D3556;
    color: white;
}

#logo{
    margin-top: 10px;
    height: 7em;
    float: left;
}

footer {
    padding: 3%;
}

#titulo{
    padding-top: 55px;
    padding-bottom: 45px;
    margin-left: 20px;
}

h3{
    text-align: center;
}

label {
    color: #304553;
    text-align: left;
}

header, nav {
    position: relative;
    z-index: 1;
}

/* Menu **********************/
nav{
    background-color: #457B9D;
    margin: 0%;
}

.menu, .sub_menu{
    list-style: none;
}

.menu{
    float: left;
    margin: 0%;
    font-size: 20px;
    padding: 0%;
}

li a{
    display: block;
}

.menu a{
    text-decoration: none;
    color: white;
    padding:5px 10px;
    display:block;
    text-shadow:0px 0px 5px rgb(56, 56, 56);
}

.menu li{
    padding: 10px;
    width: 200px;
    text-align: center;
    border: thin inset #1d355631;
    position: relative;
    float: left;
    background-color: #457B9D;
    box-shadow: #0003 5px 5px 10px;
    cursor: pointer;
    -webkit-transition: all 1s ease
}

.sub_menu li{
    background-color: #457b9dde;
}

.menu li:hover{
    background-color: #2e5064;
}

.menu li ul{
    position: absolute;
    top: 57px;
    right: 0px;
    display: none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
    -webkit-transition: all 1s ease
}

.menu li ul li{
    display:block;
    width:200px;
}

h1, h3, p {
    margin: 0;
}


