/* Principal *****************************************************************/
*{
    font-family: 'Nunito', sans-serif;
}
html, body{
    margin: 0%;
}
header, footer{
    padding-bottom: 3%;
}

h1, h3, p, input{
    font-family: 'Nunito', sans-serif;
    color: white;
    margin: 0%;
}

h2{
    padding-top: 15px;
    border-bottom: 1.5px solid gray;
}

h3{
    text-align: center;
}

.sub{
    color: #449d8f;
    margin: 25vh 0% .5% 0%;
    font-size: 1.5em;
}

.principal{
    color: #e76f51;
    font-size: 3em;
    margin: 0% 0% .5% 0%;
}

.descricao{
    color: #264553;
    font-size: 1.2em;
    margin: 0% 0% 20vh 0%;
}

.descricao, .principal, .sub{
    text-align: center;
}

#fieldset{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:30vw;
    border: 3px #2A9D8F solid;
    border-radius: .7em;
    margin-bottom: 8%;
    margin-top: 2%;
}
.tamanho{
    height: 7vw;
}
legend
{
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  color: #2A9D8F;
  text-align: center;
}
#caixa-seleção{
    width: 80%;
    border-radius: .7em;
    cursor: pointer;
    padding: 1px 1px 1px 5px;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    background-color: #2A9D8F;
}

/* Formulario *****************************************************************/
form{
    display: block;
}

.form-container {
    margin-top: 10px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

#botoes{
    margin-left: auto;
    margin-right: auto;
}

.botoes{
    width: 49.5%;
    height: 4vh;
    border-radius: .3em;
    border: 0;
    background-color: #e76f51;
    color: white;
    transition: .3s ease;
    
}
.botoes:hover{
    background-color: #449d8f;
    cursor:pointer 
}

input{
    color:#449d8f;
    display: inline-block;
}
.texto{
    width: 30vw;
    border: 0;
    outline: none;
    border-bottom: 1.5px solid #449d8f ;
    display: block;
    margin: 0% 0% 5% 0%;
}

textarea {
    width: 31vw;
    height: 10vh;
    padding: 3%;
    background-color: #449d8f;
    color: white;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

textarea::placeholder {
    color: white;
}

.mudar{
    margin-top: 10px;
}

.partes, .autores{
    padding-bottom: 20px;
}
.escondido{
    display: none;
}

/* Header/Footer ****************************************************************/
header{
    background-color:#264653;
    width: 100%;
    height: 15%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0%;    
}

footer{
    height: 5%;
    background-color: #264653;
    padding: 3%;
    display: block;
}

#titulo{
    padding-top: 50px;
    margin-left: 20px;
}

.rodape{
    text-align: center;
}

/* Imagens ****************************************************************/
#logo{
    margin-top: 10px;
    height: 7em;/*94.5px;*/
    width: 17em;/*250px;*/
    float: left;
}
/* Menu ****************************************************************/
nav{
    background-color: #457B9D;
    margin: 0%;
}

.menu, .sub_menu{
    list-style: none;
}

.menu{
    float: left;
    margin: 0%;
    font-size: 20px;
    padding: 0%;
}

li a{
    display: block;
}

.menu a{
    text-decoration: none;
    color: white;
    padding:5px 10px;
    display:block;
    text-shadow:0px 0px 5px rgb(56, 56, 56);
}

.menu li{
    padding: 10px;
    width: 200px;
    text-align: center;
    border: thin inset #1d355631;
    position: relative;
    float: left;
    background-color: #457B9D;
    box-shadow: #0003 5px 5px 10px;
    cursor: pointer;
    -webkit-transition: all 1s ease
}

.sub_menu li{
    background-color: #457b9dde;
}

.menu li:hover{
    background-color: #2e5064;
}

.menu li ul{
    position: absolute;
    top:57px;
    right:0px;
    display: none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
    -webkit-transition: all 1s ease
}

.menu li ul li{
    display:block;
    width:200px;
}