.button {
    padding-top: 4px;
}
.row {
    padding-top: 2%;
}
#status {
    padding-top: 2%;
}
h1{
    color:white ;
}
#confirmar{
    background-color: white;
    color: #2A9D8F;
}
#cancelar{
    background-color: white;
    color: #2A9D8F;
}
#cabecalho_modal{
    background-color: #264653;
    color: #2A9D8F;
}
.inputs{
    width: 120%;
    border: 0;
    outline: none;
    border-bottom: 1.5px solid #2A9D8F;
    display: block;
    margin: 0% 0% 5% 0%;
}

#emprestimos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
}
#cabecalho {
    display: flex;
    flex-direction: column;
    /*background-color: #264653;*/
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
}
#busca {
    height: 40px;
    position: relative;
    margin-top: 3%;
    color:#449d8f;
}
#busca_id {
    width:500px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #449d8f;
    border-right: 0;
    color:#449d8f;
    display: inline-block;
    
}
#novo_emprestimo{  /* Mudança: Centralização do botão */
    background-color:#449d8f;
    color: white;
    display:block;
    margin: 3% auto 0% auto;
    padding: 1em;
}
#novo_emprestimo:hover{
    background-color: #E9C46A;
    color: #2A9D8F;
}
#dadosAluno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5%;
    background-color: #264653;
}
#dadosAluno p{
    margin: 2px;
    padding: 20px;
    font-size: 12pt;
    
    border-radius: 20px;
    /*box-shadow: 3px 2px 2px gray;*/
    color: #449d8f;
    
}

#listagem {
    max-width: 40% !important;
    font-size: 12pt;
    border: 1px solid #dfe1e5;
    box-shadow: #0003 4px 4px 10px
}

#botaoBuscaId {
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    background-color:white;
    border: 0;
    position: absolute;
    border: 1px solid #2A9D8F;
    border-left: 0;
    
}


.btn{
    background-color: #2A9D8F;
    color: white;
    margin: 0% auto 0% auto;   
}
.btn:hover{
    background-color: #264653;
    color: #2A9D8F;
}
.btnDevolver{  /* Mudança: Centralização do botão */
    background-color: #449d8f;
    color: white;
    display: inline-block;
}
.btnDevolver:hover{
    background-color: white;
    color: #449d8f;
}

.emprestimo{
    min-height: 150px; height:300px; max-height:250px; 
    margin: 10px;
    padding: 30px;
    position: relative;
    font-size: 12pt;
    background-color:#E9C46A;
    border-radius: 20px;
    box-shadow: 3px 2px 2px gray;
    color: white;
    text-align: left;
}
.titulo-pagina {
    text-align: center;
    margin-left: 10%;
    color: #E9C46A;
}

main {
    margin-top: 5%;
}

th, td {
    text-align: center;
}

footer {
    margin-top: 8%;
}

form {
    height: 100%;
}
