.button {
	padding-top: 4px;
}
.row {
	padding-top: 2%;
}
#status {
	padding-top: 2%;
}
h1{
    color:white ;
}
#confirmar{
    background-color: #2A9D8F;
    color: white;
}
#cancelar{
    background-color: #E76F51;
    color: white;
}
#cabecalho_modal{
    background-color: #264653;
    color: white;
}
.inputs{
    width: 30vw;
    border: 0;
    outline: none;
    border-bottom: 1.5px solid #449d8f;
    display: block;
    margin: 0% 0% 5% 0%;
}
#emprestimos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5%;
}
.emprestimo {
    margin: 10px;
    padding: 30px;
    font-size: 12pt;
    background-color: #e9ecef;
    border-radius: 20px;
    position: relative;
    box-shadow: 3px 2px 2px gray;
}
.btnDevolver{
    border-radius: 20px;
    position: absolute;
    right: 2%;
    top: 2%;
}
#cabecalho {
    display: flex;
    flex-direction: column;
    background-color: #264653;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
}
#busca_id {
    width:300px;
}
#botaoBuscaId{


}
#novo_emprestimo{
    position: absolute;
    top: 10%;
    right: 2%;
    background-color: #E76F51;
    color: white;
}
#dadosAluno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.5%;
}
#dadosAluno p{
    margin: 10px;
    padding: 30px;
    font-size: 12pt;
    background-color:#E9C46A;
    border-radius: 20px;
    box-shadow: 3px 2px 2px gray;
    color: white;
}